/* Variables */
:root {
    --color-background: #ffffff;
    --color-white: #ffffff;
    --color-primary: #004a5b;
    --color-secondary: #7136ed;
    --color-text: #333333;
    --color-text-inverted: #ffffff;
    --font-family: "Inter", sans-serif;
    --nav-link-color: var(--color-primary);
    --nav-link-color-hover: var(--color-white);
    --nav-link-color-active: var(--color-white);
    --sp-8: clamp(18px, -0.0501px + 1.2526vi, 24px);
    --sp-7: clamp(16px, -0.0345px + 1.1127vi, 21.33px);
    --sp-6: clamp(12px, -0.0334px + 0.8351vi, 16px);
    --sc-h96-min: polygon(
        50% calc(100% - 1.4px),
        50% calc(100% - 1.4px),
        calc(50% - 1.6862px) calc(100% - 1.4001px),
        calc(50% - 3.3256px) calc(100% - 1.4008px),
        calc(50% - 4.9194px) calc(100% - 1.4027px),
        calc(50% - 6.4688px) calc(100% - 1.4064px),
        calc(50% - 7.975px) calc(100% - 1.4125px),
        calc(50% - 9.4392px) calc(100% - 1.4216px),
        calc(50% - 10.8626px) calc(100% - 1.4343px),
        calc(50% - 12.2464px) calc(100% - 1.4512px),
        calc(50% - 13.5918px) calc(100% - 1.4729px),
        calc(50% - 14.9px) calc(100% - 1.5px),
        33.1px calc(100% - 1.5px),
        31.8251px calc(100% - 1.5332px),
        30.5808px calc(100% - 1.5736px),
        29.3677px calc(100% - 1.6224px),
        28.1864px calc(100% - 1.6808px),
        27.0375px calc(100% - 1.75px),
        25.9216px calc(100% - 1.8312px),
        24.8393px calc(100% - 1.9256px),
        23.7912px calc(100% - 2.0344px),
        22.7779px calc(100% - 2.1588px),
        21.8px calc(100% - 2.3px),
        21.8px calc(100% - 2.3px),
        20.8521px calc(100% - 2.429px),
        19.9288px calc(100% - 2.576px),
        19.0307px calc(100% - 2.741px),
        18.1584px calc(100% - 2.924px),
        17.3125px calc(100% - 3.125px),
        16.4936px calc(100% - 3.344px),
        15.7023px calc(100% - 3.581px),
        14.9392px calc(100% - 3.836px),
        14.2049px calc(100% - 4.109px),
        13.5px calc(100% - 4.4px),
        13.5px calc(100% - 4.4px),
        12.7947px calc(100% - 4.7091px),
        12.1176px calc(100% - 5.0368px),
        11.4669px calc(100% - 5.3837px),
        10.8408px calc(100% - 5.7504px),
        10.2375px calc(100% - 6.1375px),
        9.6552px calc(100% - 6.5456px),
        9.0921px calc(100% - 6.9753px),
        8.5464px calc(100% - 7.4272px),
        8.0163px calc(100% - 7.9019px),
        7.5px calc(100% - 8.4px),
        7.5px calc(100% - 8.4px),
        7.0019px calc(100% - 8.919px),
        6.5272px calc(100% - 9.456px),
        6.0753px calc(100% - 10.011px),
        5.6456px calc(100% - 10.584px),
        5.2375px calc(100% - 11.175px),
        4.8504px calc(100% - 11.784px),
        4.4837px calc(100% - 12.411px),
        4.1368px calc(100% - 13.056px),
        3.8091px calc(100% - 13.719px),
        3.5px calc(100% - 14.4px),
        3.5px calc(100% - 14.4px),
        3.2117px calc(100% - 15.1292px),
        2.9456px calc(100% - 15.8776px),
        2.6999px calc(100% - 16.6464px),
        2.4728px calc(100% - 17.4368px),
        2.2625px calc(100% - 18.25px),
        2.0672px calc(100% - 19.0872px),
        1.8851px calc(100% - 19.9496px),
        1.7144px calc(100% - 20.8384px),
        1.5533px calc(100% - 21.7548px),
        1.4px calc(100% - 22.7px),
        1.4px calc(100% - 22.7px),
        1.2831px calc(100% - 23.6779px),
        1.1728px calc(100% - 24.6912px),
        1.0697px calc(100% - 25.7393px),
        0.9744px calc(100% - 26.8216px),
        0.8875px calc(100% - 27.9375px),
        0.8096px calc(100% - 29.0864px),
        0.7413px calc(100% - 30.2677px),
        0.6832px calc(100% - 31.4808px),
        0.6359px calc(100% - 32.7251px),
        0.6px calc(100% - 34px),
        0.6px calc(100% - 34px),
        0.5729px calc(100% - 35.3109px),
        0.5512px calc(100% - 36.6632px),
        0.5343px calc(100% - 38.0563px),
        0.5216px calc(100% - 39.4896px),
        0.5125px calc(100% - 40.9625px),
        0.5064px calc(100% - 42.4744px),
        0.5027px calc(100% - 44.0247px),
        0.5008px calc(100% - 45.6128px),
        0.5001px calc(100% - 47.2381px),
        0.5px calc(100% - 48.9px),
        0.5px calc(50% - 0.4px),
        0.5001px calc(50% - 2.0619px),
        0.5008px calc(50% - 3.6872px),
        0.5027px calc(50% - 5.2753px),
        0.5064px calc(50% - 6.8256px),
        0.5125px calc(50% - 8.3375px),
        0.5216px calc(50% - 9.8104px),
        0.5343px calc(50% - 11.2437px),
        0.5512px calc(50% - 12.6368px),
        0.5729px calc(50% - 13.9891px),
        0.6px calc(50% - 15.3px),
        0.6px 33.2px,
        0.6332px 31.9251px,
        0.6736px 30.6808px,
        0.7224px 29.4677px,
        0.7808px 28.2864px,
        0.85px 27.1375px,
        0.9312px 26.0216px,
        1.0256px 24.9393px,
        1.1344px 23.8912px,
        1.2588px 22.8779px,
        1.4px 21.9px,
        1.4px 21.9px,
        1.529px 20.9521px,
        1.676px 20.0288px,
        1.841px 19.1307px,
        2.024px 18.2584px,
        2.225px 17.4125px,
        2.444px 16.5936px,
        2.681px 15.8023px,
        2.936px 15.0392px,
        3.209px 14.3049px,
        3.5px 13.6px,
        3.5px 13.6px,
        3.8091px 12.919px,
        4.1368px 12.256px,
        4.4837px 11.611px,
        4.8504px 10.984px,
        5.2375px 10.375px,
        5.6456px 9.784px,
        6.0753px 9.211px,
        6.5272px 8.656px,
        7.0019px 8.119px,
        7.5px 7.6px,
        7.5px 7.6px,
        8.019px 7.1019px,
        8.556px 6.6272px,
        9.111px 6.1753px,
        9.684px 5.7456px,
        10.275px 5.3375px,
        10.884px 4.9504px,
        11.511px 4.5837px,
        12.156px 4.2368px,
        12.819px 3.9091px,
        13.5px 3.6px,
        13.5px 3.6px,
        14.2049px 3.3117px,
        14.9392px 3.0456px,
        15.7023px 2.7999px,
        16.4936px 2.5728px,
        17.3125px 2.3625px,
        18.1584px 2.1672px,
        19.0307px 1.9851px,
        19.9288px 1.8144px,
        20.8521px 1.6533px,
        21.8px 1.5px,
        21.8px 1.5px,
        22.7751px 1.3588px,
        23.7808px 1.2344px,
        24.8177px 1.1256px,
        25.8864px 1.0312px,
        26.9875px 0.95px,
        28.1216px 0.8808px,
        29.2893px 0.8224px,
        30.4912px 0.7736px,
        31.7279px 0.7332px,
        33px 0.7px,
        33px 0.7px,
        34.311px 0.6729px,
        35.664px 0.6512px,
        37.059px 0.6343px,
        38.496px 0.6216px,
        39.975px 0.6125px,
        41.496px 0.6064px,
        43.059px 0.6027px,
        44.664px 0.6008px,
        46.311px 0.6001px,
        48px 0.6px,
        50% 0.6px,
        calc(50% + 1.6862px) 0.6001px,
        calc(50% + 3.3256px) 0.6008px,
        calc(50% + 4.9194px) 0.6027px,
        calc(50% + 6.4688px) 0.6064px,
        calc(50% + 7.975px) 0.6125px,
        calc(50% + 9.4392px) 0.6216px,
        calc(50% + 10.8626px) 0.6343px,
        calc(50% + 12.2464px) 0.6512px,
        calc(50% + 13.5918px) 0.6729px,
        calc(50% + 14.9px) 0.7px,
        calc(100% - 33.1px) 0.7px,
        calc(100% - 31.825px) 0.7331px,
        calc(100% - 30.58px) 0.7728px,
        calc(100% - 29.365px) 0.8197px,
        calc(100% - 28.18px) 0.8744px,
        calc(100% - 27.025px) 0.9375px,
        calc(100% - 25.9px) 1.0096px,
        calc(100% - 24.805px) 1.0913px,
        calc(100% - 23.74px) 1.1832px,
        calc(100% - 22.705px) 1.2859px,
        calc(100% - 21.7px) 1.4px,
        calc(100% - 21.7px) 1.4px,
        calc(100% - 20.7521px) 1.529px,
        calc(100% - 19.8288px) 1.676px,
        calc(100% - 18.9307px) 1.841px,
        calc(100% - 18.0584px) 2.024px,
        calc(100% - 17.2125px) 2.225px,
        calc(100% - 16.3936px) 2.444px,
        calc(100% - 15.6023px) 2.681px,
        calc(100% - 14.8392px) 2.936px,
        calc(100% - 14.1049px) 3.209px,
        calc(100% - 13.4px) 3.5px,
        calc(100% - 13.4px) 3.5px,
        calc(100% - 12.6947px) 3.8091px,
        calc(100% - 12.0176px) 4.1368px,
        calc(100% - 11.3669px) 4.4837px,
        calc(100% - 10.7408px) 4.8504px,
        calc(100% - 10.1375px) 5.2375px,
        calc(100% - 9.5552px) 5.6456px,
        calc(100% - 8.9921px) 6.0753px,
        calc(100% - 8.4464px) 6.5272px,
        calc(100% - 7.9163px) 7.0019px,
        calc(100% - 7.4px) 7.5px,
        calc(100% - 7.4px) 7.5px,
        calc(100% - 6.9019px) 8.019px,
        calc(100% - 6.4272px) 8.556px,
        calc(100% - 5.9753px) 9.111px,
        calc(100% - 5.5456px) 9.684px,
        calc(100% - 5.1375px) 10.275px,
        calc(100% - 4.7504px) 10.884px,
        calc(100% - 4.3837px) 11.511px,
        calc(100% - 4.0368px) 12.156px,
        calc(100% - 3.7091px) 12.819px,
        calc(100% - 3.4px) 13.5px,
        calc(100% - 3.4px) 13.5px,
        calc(100% - 3.1117px) 14.2049px,
        calc(100% - 2.8456px) 14.9392px,
        calc(100% - 2.5999px) 15.7023px,
        calc(100% - 2.3728px) 16.4936px,
        calc(100% - 2.1625px) 17.3125px,
        calc(100% - 1.9672px) 18.1584px,
        calc(100% - 1.7851px) 19.0307px,
        calc(100% - 1.6144px) 19.9288px,
        calc(100% - 1.4533px) 20.8521px,
        calc(100% - 1.3px) 21.8px,
        calc(100% - 1.3px) 21.8px,
        calc(100% - 1.1831px) 22.7779px,
        calc(100% - 1.0728px) 23.7912px,
        calc(100% - 0.9697px) 24.8393px,
        calc(100% - 0.8744px) 25.9216px,
        calc(100% - 0.7875px) 27.0375px,
        calc(100% - 0.7096px) 28.1864px,
        calc(100% - 0.6413px) 29.3677px,
        calc(100% - 0.5832px) 30.5808px,
        calc(100% - 0.5359px) 31.8251px,
        calc(100% - 0.5px) 33.1px,
        calc(100% - 0.5px) 33.1px,
        calc(100% - 0.4729px) 34.4109px,
        calc(100% - 0.4512px) 35.7632px,
        calc(100% - 0.4343px) 37.1563px,
        calc(100% - 0.4216px) 38.5896px,
        calc(100% - 0.4125px) 40.0625px,
        calc(100% - 0.4064px) 41.5744px,
        calc(100% - 0.4027px) 43.1247px,
        calc(100% - 0.4008px) 44.7128px,
        calc(100% - 0.4001px) 46.3381px,
        calc(100% - 0.4px) 48px,
        calc(100% - 0.4px) calc(50% - 0.5px),
        calc(100% - 0.4001px) calc(50% + 1.1619px),
        calc(100% - 0.4008px) calc(50% + 2.7872px),
        calc(100% - 0.4027px) calc(50% + 4.3753px),
        calc(100% - 0.4064px) calc(50% + 5.9256px),
        calc(100% - 0.4125px) calc(50% + 7.4375px),
        calc(100% - 0.4216px) calc(50% + 8.9104px),
        calc(100% - 0.4343px) calc(50% + 10.3437px),
        calc(100% - 0.4512px) calc(50% + 11.7368px),
        calc(100% - 0.4729px) calc(50% + 13.0891px),
        calc(100% - 0.5px) calc(50% + 14.4px),
        calc(100% - 0.5px) calc(100% - 34.1px),
        calc(100% - 0.5332px) calc(100% - 32.8251px),
        calc(100% - 0.5736px) calc(100% - 31.5808px),
        calc(100% - 0.6224px) calc(100% - 30.3677px),
        calc(100% - 0.6808px) calc(100% - 29.1864px),
        calc(100% - 0.75px) calc(100% - 28.0375px),
        calc(100% - 0.8312px) calc(100% - 26.9216px),
        calc(100% - 0.9256px) calc(100% - 25.8393px),
        calc(100% - 1.0344px) calc(100% - 24.7912px),
        calc(100% - 1.1588px) calc(100% - 23.7779px),
        calc(100% - 1.3px) calc(100% - 22.8px),
        calc(100% - 1.3px) calc(100% - 22.8px),
        calc(100% - 1.429px) calc(100% - 21.8521px),
        calc(100% - 1.576px) calc(100% - 20.9288px),
        calc(100% - 1.741px) calc(100% - 20.0307px),
        calc(100% - 1.924px) calc(100% - 19.1584px),
        calc(100% - 2.125px) calc(100% - 18.3125px),
        calc(100% - 2.344px) calc(100% - 17.4936px),
        calc(100% - 2.581px) calc(100% - 16.7023px),
        calc(100% - 2.836px) calc(100% - 15.9392px),
        calc(100% - 3.109px) calc(100% - 15.2049px),
        calc(100% - 3.4px) calc(100% - 14.5px),
        calc(100% - 3.4px) calc(100% - 14.5px),
        calc(100% - 3.7091px) calc(100% - 13.7947px),
        calc(100% - 4.0368px) calc(100% - 13.1176px),
        calc(100% - 4.3837px) calc(100% - 12.4669px),
        calc(100% - 4.7504px) calc(100% - 11.8408px),
        calc(100% - 5.1375px) calc(100% - 11.2375px),
        calc(100% - 5.5456px) calc(100% - 10.6552px),
        calc(100% - 5.9753px) calc(100% - 10.0921px),
        calc(100% - 6.4272px) calc(100% - 9.5464px),
        calc(100% - 6.9019px) calc(100% - 9.0163px),
        calc(100% - 7.4px) calc(100% - 8.5px),
        calc(100% - 7.4px) calc(100% - 8.5px),
        calc(100% - 7.919px) calc(100% - 8.0019px),
        calc(100% - 8.456px) calc(100% - 7.5272px),
        calc(100% - 9.011px) calc(100% - 7.0753px),
        calc(100% - 9.584px) calc(100% - 6.6456px),
        calc(100% - 10.175px) calc(100% - 6.2375px),
        calc(100% - 10.784px) calc(100% - 5.8504px),
        calc(100% - 11.411px) calc(100% - 5.4837px),
        calc(100% - 12.056px) calc(100% - 5.1368px),
        calc(100% - 12.719px) calc(100% - 4.8091px),
        calc(100% - 13.4px) calc(100% - 4.5px),
        calc(100% - 13.4px) calc(100% - 4.5px),
        calc(100% - 14.1292px) calc(100% - 4.2117px),
        calc(100% - 14.8776px) calc(100% - 3.9456px),
        calc(100% - 15.6464px) calc(100% - 3.6999px),
        calc(100% - 16.4368px) calc(100% - 3.4728px),
        calc(100% - 17.25px) calc(100% - 3.2625px),
        calc(100% - 18.0872px) calc(100% - 3.0672px),
        calc(100% - 18.9496px) calc(100% - 2.8851px),
        calc(100% - 19.8384px) calc(100% - 2.7144px),
        calc(100% - 20.7548px) calc(100% - 2.5533px),
        calc(100% - 21.7px) calc(100% - 2.4px),
        calc(100% - 21.7px) calc(100% - 2.4px),
        calc(100% - 22.6779px) calc(100% - 2.2831px),
        calc(100% - 23.6912px) calc(100% - 2.1728px),
        calc(100% - 24.7393px) calc(100% - 2.0697px),
        calc(100% - 25.8216px) calc(100% - 1.9744px),
        calc(100% - 26.9375px) calc(100% - 1.8875px),
        calc(100% - 28.0864px) calc(100% - 1.8096px),
        calc(100% - 29.2677px) calc(100% - 1.7413px),
        calc(100% - 30.4808px) calc(100% - 1.6832px),
        calc(100% - 31.7251px) calc(100% - 1.6359px),
        calc(100% - 33px) calc(100% - 1.6px),
        calc(100% - 33px) calc(100% - 1.6px),
        calc(100% - 34.311px) calc(100% - 1.5701px),
        calc(100% - 35.664px) calc(100% - 1.5408px),
        calc(100% - 37.059px) calc(100% - 1.5127px),
        calc(100% - 38.496px) calc(100% - 1.4864px),
        calc(100% - 39.975px) calc(100% - 1.4625px),
        calc(100% - 41.496px) calc(100% - 1.4416px),
        calc(100% - 43.059px) calc(100% - 1.4243px),
        calc(100% - 44.664px) calc(100% - 1.4112px),
        calc(100% - 46.311px) calc(100% - 1.4029px),
        calc(100% - 48px) calc(100% - 1.4px)
    );
    --sc-h48: polygon(
        50% calc(100% - 0.5px),
        50% calc(100% - 0.5px),
        calc(50% - 0.831px) calc(100% - 0.5001px),
        calc(50% - 1.644px) calc(100% - 0.5008px),
        calc(50% - 2.439px) calc(100% - 0.5027px),
        calc(50% - 3.216px) calc(100% - 0.5064px),
        calc(50% - 3.975px) calc(100% - 0.5125px),
        calc(50% - 4.716px) calc(100% - 0.5216px),
        calc(50% - 5.439px) calc(100% - 0.5343px),
        calc(50% - 6.144px) calc(100% - 0.5512px),
        calc(50% - 6.831px) calc(100% - 0.5729px),
        calc(50% - 7.5px) calc(100% - 0.6px),
        16.5px calc(100% - 0.6px),
        15.8518px calc(100% - 0.6301px),
        15.2264px calc(100% - 0.6608px),
        14.6226px calc(100% - 0.6927px),
        14.0392px calc(100% - 0.7264px),
        13.475px calc(100% - 0.7625px),
        12.9288px calc(100% - 0.8016px),
        12.3994px calc(100% - 0.8443px),
        11.8856px calc(100% - 0.8912px),
        11.3862px calc(100% - 0.9429px),
        10.9px calc(100% - 1px),
        10.9px calc(100% - 1px),
        10.4261px calc(100% - 1.0631px),
        9.9648px calc(100% - 1.1328px),
        9.5167px calc(100% - 1.2097px),
        9.0824px calc(100% - 1.2944px),
        8.6625px calc(100% - 1.3875px),
        8.2576px calc(100% - 1.4896px),
        7.8683px calc(100% - 1.6013px),
        7.4952px calc(100% - 1.7232px),
        7.1389px calc(100% - 1.8559px),
        6.8px calc(100% - 2px),
        6.8px calc(100% - 2px),
        6.4488px calc(100% - 2.1531px),
        6.1144px calc(100% - 2.3128px),
        5.7956px calc(100% - 2.4797px),
        5.4912px calc(100% - 2.6544px),
        5.2px calc(100% - 2.8375px),
        4.9208px calc(100% - 3.0296px),
        4.6524px calc(100% - 3.2313px),
        4.3936px calc(100% - 3.4432px),
        4.1432px calc(100% - 3.6659px),
        3.9px calc(100% - 3.9px),
        3.9px calc(100% - 3.9px),
        3.6659px calc(100% - 4.1459px),
        3.4432px calc(100% - 4.4032px),
        3.2313px calc(100% - 4.6713px),
        3.0296px calc(100% - 4.9496px),
        2.8375px calc(100% - 5.2375px),
        2.6544px calc(100% - 5.5344px),
        2.4797px calc(100% - 5.8397px),
        2.3128px calc(100% - 6.1528px),
        2.1531px calc(100% - 6.4731px),
        2px calc(100% - 6.8px),
        2px calc(100% - 6.8px),
        1.8559px calc(100% - 7.1389px),
        1.7232px calc(100% - 7.4952px),
        1.6013px calc(100% - 7.8683px),
        1.4896px calc(100% - 8.2576px),
        1.3875px calc(100% - 8.6625px),
        1.2944px calc(100% - 9.0824px),
        1.2097px calc(100% - 9.5167px),
        1.1328px calc(100% - 9.9648px),
        1.0631px calc(100% - 10.4261px),
        1px calc(100% - 10.9px),
        1px calc(100% - 10.9px),
        0.9429px calc(100% - 11.3889px),
        0.8912px calc(100% - 11.8952px),
        0.8443px calc(100% - 12.4183px),
        0.8016px calc(100% - 12.9576px),
        0.7625px calc(100% - 13.5125px),
        0.7264px calc(100% - 14.0824px),
        0.6927px calc(100% - 14.6667px),
        0.6608px calc(100% - 15.2648px),
        0.6301px calc(100% - 15.8761px),
        0.6px calc(100% - 16.5px),
        0.6px calc(100% - 16.5px),
        0.5729px calc(100% - 17.1447px),
        0.5512px calc(100% - 17.8176px),
        0.5343px calc(100% - 18.5169px),
        0.5216px calc(100% - 19.2408px),
        0.5125px calc(100% - 19.9875px),
        0.5064px calc(100% - 20.7552px),
        0.5027px calc(100% - 21.5421px),
        0.5008px calc(100% - 22.3464px),
        0.5001px calc(100% - 23.1663px),
        0.5px calc(100% - 24px),
        0.5px 50%,
        0.5001px calc(50% - 0.831px),
        0.5008px calc(50% - 1.644px),
        0.5027px calc(50% - 2.439px),
        0.5064px calc(50% - 3.216px),
        0.5125px calc(50% - 3.975px),
        0.5216px calc(50% - 4.716px),
        0.5343px calc(50% - 5.439px),
        0.5512px calc(50% - 6.144px),
        0.5729px calc(50% - 6.831px),
        0.6px calc(50% - 7.5px),
        0.6px 16.5px,
        0.6301px 15.8518px,
        0.6608px 15.2264px,
        0.6927px 14.6226px,
        0.7264px 14.0392px,
        0.7625px 13.475px,
        0.8016px 12.9288px,
        0.8443px 12.3994px,
        0.8912px 11.8856px,
        0.9429px 11.3862px,
        1px 10.9px,
        1px 10.9px,
        1.0631px 10.4261px,
        1.1328px 9.9648px,
        1.2097px 9.5167px,
        1.2944px 9.0824px,
        1.3875px 8.6625px,
        1.4896px 8.2576px,
        1.6013px 7.8683px,
        1.7232px 7.4952px,
        1.8559px 7.1389px,
        2px 6.8px,
        2px 6.8px,
        2.1504px 6.4731px,
        2.3032px 6.1528px,
        2.4608px 5.8397px,
        2.6256px 5.5344px,
        2.8px 5.2375px,
        2.9864px 4.9496px,
        3.1872px 4.6713px,
        3.4048px 4.4032px,
        3.6416px 4.1459px,
        3.9px 3.9px,
        3.9px 3.9px,
        4.1432px 3.6388px,
        4.3936px 3.3944px,
        4.6524px 3.1656px,
        4.9208px 2.9512px,
        5.2px 2.75px,
        5.4912px 2.5608px,
        5.7956px 2.3824px,
        6.1144px 2.2136px,
        6.4488px 2.0532px,
        6.8px 1.9px,
        6.8px 1.9px,
        7.1632px 1.7559px,
        7.5336px 1.6232px,
        7.9124px 1.5013px,
        8.3008px 1.3896px,
        8.7px 1.2875px,
        9.1112px 1.1944px,
        9.5356px 1.1097px,
        9.9744px 1.0328px,
        10.4288px 0.9631px,
        10.9px 0.9px,
        10.9px 0.9px,
        11.3889px 0.8429px,
        11.8952px 0.7912px,
        12.4183px 0.7443px,
        12.9576px 0.7016px,
        13.5125px 0.6625px,
        14.0824px 0.6264px,
        14.6667px 0.5927px,
        15.2648px 0.5608px,
        15.8761px 0.5301px,
        16.5px 0.5px,
        16.5px 0.5px,
        17.142px 0.4729px,
        17.808px 0.4512px,
        18.498px 0.4343px,
        19.212px 0.4216px,
        19.95px 0.4125px,
        20.712px 0.4064px,
        21.498px 0.4027px,
        22.308px 0.4008px,
        23.142px 0.4001px,
        24px 0.4px,
        50% 0.4px,
        calc(50% + 0.8553px) 0.4001px,
        calc(50% + 1.6824px) 0.4008px,
        calc(50% + 2.4831px) 0.4027px,
        calc(50% + 3.2592px) 0.4064px,
        calc(50% + 4.0125px) 0.4125px,
        calc(50% + 4.7448px) 0.4216px,
        calc(50% + 5.4579px) 0.4343px,
        calc(50% + 6.1536px) 0.4512px,
        calc(50% + 6.8337px) 0.4729px,
        calc(50% + 7.5px) 0.5px,
        calc(100% - 16.5px) 0.5px,
        calc(100% - 15.8518px) 0.5301px,
        calc(100% - 15.2264px) 0.5608px,
        calc(100% - 14.6226px) 0.5927px,
        calc(100% - 14.0392px) 0.6264px,
        calc(100% - 13.475px) 0.6625px,
        calc(100% - 12.9288px) 0.7016px,
        calc(100% - 12.3994px) 0.7443px,
        calc(100% - 11.8856px) 0.7912px,
        calc(100% - 11.3862px) 0.8429px,
        calc(100% - 10.9px) 0.9px,
        calc(100% - 10.9px) 0.9px,
        calc(100% - 10.4261px) 0.9631px,
        calc(100% - 9.9648px) 1.0328px,
        calc(100% - 9.5167px) 1.1097px,
        calc(100% - 9.0824px) 1.1944px,
        calc(100% - 8.6625px) 1.2875px,
        calc(100% - 8.2576px) 1.3896px,
        calc(100% - 7.8683px) 1.5013px,
        calc(100% - 7.4952px) 1.6232px,
        calc(100% - 7.1389px) 1.7559px,
        calc(100% - 6.8px) 1.9px,
        calc(100% - 6.8px) 1.9px,
        calc(100% - 6.4731px) 2.0531px,
        calc(100% - 6.1528px) 2.2128px,
        calc(100% - 5.8397px) 2.3797px,
        calc(100% - 5.5344px) 2.5544px,
        calc(100% - 5.2375px) 2.7375px,
        calc(100% - 4.9496px) 2.9296px,
        calc(100% - 4.6713px) 3.1313px,
        calc(100% - 4.4032px) 3.3432px,
        calc(100% - 4.1459px) 3.5659px,
        calc(100% - 3.9px) 3.8px,
        calc(100% - 3.9px) 3.8px,
        calc(100% - 3.6659px) 4.0459px,
        calc(100% - 3.4432px) 4.3032px,
        calc(100% - 3.2313px) 4.5713px,
        calc(100% - 3.0296px) 4.8496px,
        calc(100% - 2.8375px) 5.1375px,
        calc(100% - 2.6544px) 5.4344px,
        calc(100% - 2.4797px) 5.7397px,
        calc(100% - 2.3128px) 6.0528px,
        calc(100% - 2.1531px) 6.3731px,
        calc(100% - 2px) 6.7px,
        calc(100% - 2px) 6.7px,
        calc(100% - 1.8559px) 7.0389px,
        calc(100% - 1.7232px) 7.3952px,
        calc(100% - 1.6013px) 7.7683px,
        calc(100% - 1.4896px) 8.1576px,
        calc(100% - 1.3875px) 8.5625px,
        calc(100% - 1.2944px) 8.9824px,
        calc(100% - 1.2097px) 9.4167px,
        calc(100% - 1.1328px) 9.8648px,
        calc(100% - 1.0631px) 10.3261px,
        calc(100% - 1px) 10.8px,
        calc(100% - 1px) 10.8px,
        calc(100% - 0.9429px) 11.2889px,
        calc(100% - 0.8912px) 11.7952px,
        calc(100% - 0.8443px) 12.3183px,
        calc(100% - 0.8016px) 12.8576px,
        calc(100% - 0.7625px) 13.4125px,
        calc(100% - 0.7264px) 13.9824px,
        calc(100% - 0.6927px) 14.5667px,
        calc(100% - 0.6608px) 15.1648px,
        calc(100% - 0.6301px) 15.7761px,
        calc(100% - 0.6px) 16.4px,
        calc(100% - 0.6px) 16.4px,
        calc(100% - 0.5729px) 17.042px,
        calc(100% - 0.5512px) 17.708px,
        calc(100% - 0.5343px) 18.398px,
        calc(100% - 0.5216px) 19.112px,
        calc(100% - 0.5125px) 19.85px,
        calc(100% - 0.5064px) 20.612px,
        calc(100% - 0.5027px) 21.398px,
        calc(100% - 0.5008px) 22.208px,
        calc(100% - 0.5001px) 23.042px,
        calc(100% - 0.5px) 23.9px,
        calc(100% - 0.5px) calc(50% - 0.1px),
        calc(100% - 0.5001px) calc(50% + 0.7553px),
        calc(100% - 0.5008px) calc(50% + 1.5824px),
        calc(100% - 0.5027px) calc(50% + 2.3831px),
        calc(100% - 0.5064px) calc(50% + 3.1592px),
        calc(100% - 0.5125px) calc(50% + 3.9125px),
        calc(100% - 0.5216px) calc(50% + 4.6448px),
        calc(100% - 0.5343px) calc(50% + 5.3579px),
        calc(100% - 0.5512px) calc(50% + 6.0536px),
        calc(100% - 0.5729px) calc(50% + 6.7337px),
        calc(100% - 0.6px) calc(50% + 7.4px),
        calc(100% - 0.6px) calc(100% - 16.6px),
        calc(100% - 0.6301px) calc(100% - 15.9518px),
        calc(100% - 0.6608px) calc(100% - 15.3264px),
        calc(100% - 0.6927px) calc(100% - 14.7226px),
        calc(100% - 0.7264px) calc(100% - 14.1392px),
        calc(100% - 0.7625px) calc(100% - 13.575px),
        calc(100% - 0.8016px) calc(100% - 13.0288px),
        calc(100% - 0.8443px) calc(100% - 12.4994px),
        calc(100% - 0.8912px) calc(100% - 11.9856px),
        calc(100% - 0.9429px) calc(100% - 11.4862px),
        calc(100% - 1px) calc(100% - 11px),
        calc(100% - 1px) calc(100% - 11px),
        calc(100% - 1.0631px) calc(100% - 10.5261px),
        calc(100% - 1.1328px) calc(100% - 10.0648px),
        calc(100% - 1.2097px) calc(100% - 9.6167px),
        calc(100% - 1.2944px) calc(100% - 9.1824px),
        calc(100% - 1.3875px) calc(100% - 8.7625px),
        calc(100% - 1.4896px) calc(100% - 8.3576px),
        calc(100% - 1.6013px) calc(100% - 7.9683px),
        calc(100% - 1.7232px) calc(100% - 7.5952px),
        calc(100% - 1.8559px) calc(100% - 7.2389px),
        calc(100% - 2px) calc(100% - 6.9px),
        calc(100% - 2px) calc(100% - 6.9px),
        calc(100% - 2.1531px) calc(100% - 6.5731px),
        calc(100% - 2.3128px) calc(100% - 6.2528px),
        calc(100% - 2.4797px) calc(100% - 5.9397px),
        calc(100% - 2.6544px) calc(100% - 5.6344px),
        calc(100% - 2.8375px) calc(100% - 5.3375px),
        calc(100% - 3.0296px) calc(100% - 5.0496px),
        calc(100% - 3.2313px) calc(100% - 4.7713px),
        calc(100% - 3.4432px) calc(100% - 4.5032px),
        calc(100% - 3.6659px) calc(100% - 4.2459px),
        calc(100% - 3.9px) calc(100% - 4px),
        calc(100% - 3.9px) calc(100% - 4px),
        calc(100% - 4.1459px) calc(100% - 3.7659px),
        calc(100% - 4.4032px) calc(100% - 3.5432px),
        calc(100% - 4.6713px) calc(100% - 3.3313px),
        calc(100% - 4.9496px) calc(100% - 3.1296px),
        calc(100% - 5.2375px) calc(100% - 2.9375px),
        calc(100% - 5.5344px) calc(100% - 2.7544px),
        calc(100% - 5.8397px) calc(100% - 2.5797px),
        calc(100% - 6.1528px) calc(100% - 2.4128px),
        calc(100% - 6.4731px) calc(100% - 2.2531px),
        calc(100% - 6.8px) calc(100% - 2.1px),
        calc(100% - 6.8px) calc(100% - 2.1px),
        calc(100% - 7.1632px) calc(100% - 1.9559px),
        calc(100% - 7.5336px) calc(100% - 1.8232px),
        calc(100% - 7.9124px) calc(100% - 1.7013px),
        calc(100% - 8.3008px) calc(100% - 1.5896px),
        calc(100% - 8.7px) calc(100% - 1.4875px),
        calc(100% - 9.1112px) calc(100% - 1.3944px),
        calc(100% - 9.5356px) calc(100% - 1.3097px),
        calc(100% - 9.9744px) calc(100% - 1.2328px),
        calc(100% - 10.4288px) calc(100% - 1.1631px),
        calc(100% - 10.9px) calc(100% - 1.1px),
        calc(100% - 10.9px) calc(100% - 1.1px),
        calc(100% - 11.3889px) calc(100% - 1.0429px),
        calc(100% - 11.8952px) calc(100% - 0.9912px),
        calc(100% - 12.4183px) calc(100% - 0.9443px),
        calc(100% - 12.9576px) calc(100% - 0.9016px),
        calc(100% - 13.5125px) calc(100% - 0.8625px),
        calc(100% - 14.0824px) calc(100% - 0.8264px),
        calc(100% - 14.6667px) calc(100% - 0.7927px),
        calc(100% - 15.2648px) calc(100% - 0.7608px),
        calc(100% - 15.8761px) calc(100% - 0.7301px),
        calc(100% - 16.5px) calc(100% - 0.7px),
        calc(100% - 16.5px) calc(100% - 0.7px),
        calc(100% - 17.169px) calc(100% - 0.6458px),
        calc(100% - 17.856px) calc(100% - 0.6024px),
        calc(100% - 18.561px) calc(100% - 0.5686px),
        calc(100% - 19.284px) calc(100% - 0.5432px),
        calc(100% - 20.025px) calc(100% - 0.525px),
        calc(100% - 20.784px) calc(100% - 0.5128px),
        calc(100% - 21.561px) calc(100% - 0.5054px),
        calc(100% - 22.356px) calc(100% - 0.5016px),
        calc(100% - 23.169px) calc(100% - 0.5002px),
        calc(100% - 24px) calc(100% - 0.5px)
    );
}
/* Global Styles */

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    min-height: unset !important;
    line-height: 1;
}

img {
    max-block-size: 100%;
    max-inline-size: 100%;
}
strong {
    font-weight: 800;
}
p {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 0;
}

/* Hero Section */

.hero__container {
    align-items: center;
    clip-path: var(--sc-h96-min);
    display: flex;

    min-height: 500px;
    margin: 0.7142857143rem 0.7142857143rem 0;
    overflow: auto;
    position: relative;
}
.home .hero__container {
    min-height: 800px;
}

@media (min-width: 1170px) {
    .home .hero__container,
    .hero__container {
        height: calc(100svh - 2rem);
        justify-content: center;
        margin: 1.0714285714rem 1.0714285714rem 0;
    }
    .hero__container {
        height: auto;
    }
}

.hero__image {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.hero__image img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 2rem 2rem 2rem;
    height: auto;
    margin: 8rem 4rem 4rem;

    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.1);
    clip-path: var(--sc-h96-min);
}

.hero__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.hero__item--title {
    grid-column: 1;
    grid-row: auto;
}

.hero__item--button {
    grid-column: 1;
    grid-row: auto;
}

.hero__item--text {
    align-items: flex-start;
    color: var(--color-text-inverted);
    grid-column: 1;
    grid-row: auto;
    font-size: 1.5rem;
    font-weight: 330;
    line-height: 1.75;
}

.hero__title,
.hero__subtitle {
    color: var(--color-text-inverted);
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.hero__subtitle {
    font-size: 2.5rem;
    font-weight: 200;
}

@media (min-width: 1170px) {
    .hero__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 3.5rem;
        height: calc(100svh - 20rem);
        padding: 8rem 5rem 5rem;
        margin: 0;

        backdrop-filter: unset;
        background-color: unset;
        clip-path: unset;
    }

    .hero__item {
        backdrop-filter: blur(30px);
        background-color: rgba(0, 0, 0, 0.1);
        clip-path: var(--sc-h96-min);
        padding: 4rem;
    }

    .hero__item--text {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .hero__title {
        font-size: 5rem;
    }

    .hero__subtitle {
        font-size: 4rem;
    }
}

/* Buttons */
.btn {
    align-items: center;
    background: var(--color-secondary, #7136ed);
    border: none;
    clip-path: var(--sc-h48);
    color: var(--color-text-inverted, #fff);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: var(--sp-6);
    justify-content: space-between;
    line-height: 1.3;
    padding: var(--sp-6) var(--sp-7) var(--sp-6) var(--sp-8);
    text-align: center;
    text-decoration: none;
    width: fit-content;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}
.btn-arrow {
    align-items: center;
    display: flex;
    height: 14px;
    justify-content: center;
    width: 14px;
}

.btn:hover .btn-arrow svg,
.link:hover .btn-arrow svg {
    animation: arrow 1.5s;
}

@keyframes arrow {
    0% {
        animation-timing-function: cubic-bezier(0.45, 0, 1, 0);
        opacity: 1;
        transform: translateX(0);
    }
    27% {
        opacity: 1;
        transform: translateX(59%);
    }
    28% {
        opacity: 0;
        transform: translateX(59%);
    }
    35% {
        opacity: 0;
        transform: translateX(-73.5%);
    }
    36% {
        animation-timing-function: cubic-bezier(0, 0.45, 0, 1);
        opacity: 1;
        transform: translateX(-73.5%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
